<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml"></include>
	<include
		resource="org/springframework/boot/logging/logback/default.xml"></include>
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml"></include>
</configuration>